body {
    background: rgb(202, 202, 202);
}

.tittle {
    text-align: center;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 5px;
    flex: 1 0 calc(30% - 5px);
    min-height: 350px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transition: all 400ms;
}

.card:hover {
    box-shadow: 0px 2px 1px 1px #535353;
    transform: translateY(5px);
}

.img {
    background: white;
    background-image: url(../img/ciencia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
}